.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 60rem;
  margin: 0 auto;
}

.title {
  font-size: 3.5rem;
  font-weight: bold;
  color: $blue-40;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 2rem;
  background-color: #ffffff;
  box-shadow: 0 0.125rem 0.75rem rgba(0, 0, 0, 0.08);
  padding: 3rem;
  box-sizing: border-box;

  & > * + * {
    border-top: 1px solid $gray-10;
  }
}

.shortage {
  color: #e53e3e;
}

.remaining {
  width: 100%;
  padding: 2rem 1rem;
  border-top: 0.125rem solid $gray-40;

  & > * {
    border-bottom: none;
  }
}
