.container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 50rem;
  margin: 0 auto;
  padding: 0 2.5rem 0rem;
  border-bottom: 0.06rem solid $gray-40;
}

.label {
  font-size: 2.75rem;
  font-weight: bold;
  color: $gray-100;
}

.priceContainer {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  color: $gray-100;
}

.currency {
  font-size: 4rem;
  font-weight: bold;
}

.price {
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 0.05em;
}
