.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1.25rem 3rem;
}

.title {
  font-size: 3.125rem;
  font-weight: bold;
  color: $blue-40;
  margin-bottom: 3rem;
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  max-width: 88rem;
  max-height: 68.5rem;
  overflow-y: auto;
  margin-left: 10rem;
}
