.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px 48px;
}

.title {
  font-size: 3.125rem;
  font-weight: bold;
  color: $blue-40;
  margin-bottom: 48px;
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
  max-width: 1408px;
  max-height: 1096px;
  overflow-y: auto;
  margin-left: 160px;
}
