$gray-5: #f9f9fc !default;
$gray-10: #e8e9eb !default;
$gray-40: #a5a9af !default;
$gray-70: #636a74 !default;
$gray-100: #454a53 !default;
$gray-a70: rgba(12, 16, 22, 0.7) !default;
$shadow-20: rgba(31, 41, 55, 0.05) !default;
$shadow-40: rgba(31, 41, 55, 0.08) !default;
$white: #FFF !default;
$white-10: #FFFDFB !default;
$blue-40: #5398E1 !default;
$red-10: rgba(239, 68, 68, 0.1) !default;
$red-100: #ef4444 !default;
$medium: 500 !default;
$bold: 700 !default;
$extra-bold: 800 !default;
