.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 5rem;
  padding-left: 16rem;
  padding-right: 16rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.row {
  display: flex;
  gap: 1.5rem;
}

.field {
  flex: 1;
}

.error {
  margin-top: 0.25rem;
  color: $red-100;
  font-size: 0.875rem;
  font-weight: $bold;
}

.alreadyRegistered {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2.5rem 3rem;
  width: 40rem;
  margin: 0 auto;
  background-color: $red-10;
  border: 0.125rem solid $red-100;
  border-radius: 1rem;
  color: $red-100;
  font-size: 1.75rem;
  font-weight: $bold;
  text-align: center;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
