.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 6rem;
  padding: 4px 15px;
  background-color: $blue-40;
  color: $white;
  border: $blue-40 solid 1px;
  border-radius: 999px;
  font-size: 3rem;
  font-weight: $bold;

  &:hover {
    opacity: 0.85;
  }

  &:active {
    transform: scale(0.97);
    box-shadow: 0 0.125rem 0.25rem $shadow-20;
    opacity: 0.9;
  }

  &.large {
    width: 30rem;
    height: 7rem;
    font-size: 3rem;
  }

  &.small {
    width: 17rem;
    height: 6rem;
    font-size: 3.2rem;
    background-color: $white;
    color: $blue-40;
    border: $blue-40 solid 0.125rem;

    &.selected {
      background-color: $blue-40;
      color: $white;
    }
  }
}
